*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a{
    color: inherit;
}
/* variables */
:root {
    --main-bg-color: #EAEAEA;
    --secondary-color: #E8E8E8;
    --card-bg: #1BA8A9;
    --main-font: #707070;
    --about-card-bg: #137B7C;
    --card-buttons: #17EBEC;
    --white: #fff;
    --main-font: #4F4646;

    /* font-size */
    --large: 20px;
    --medium: 16px;
    --small: 14px;
    --micro: 12px;
}

body{
    background-color: var(--main-bg-color);
}
.container{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
}
.container h1 {
    color: var(--main-font);
    line-height: 25px;
    font-size: var(--large);
    padding: 30px 0 0 20px;
}
.bold{
    font-weight: bold;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    padding: 40px 0;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 40px;
}
.nav-ul{
    display: flex;
    align-items: center;
}
.nav-link{
    color: var(--main-font);
}
.nav-link:last-child{
    margin-left: 92px;
}
.active {
    border-bottom: 3px var(--card-bg) solid;
    padding-bottom: 5px;
}
.site-logo a{
    color: var(--main-font);
    display: block;
    height: 38px;
}
.main-input-wrapper{
    max-width: 1014px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 37px;
    position: relative;

}
.main-input{
    width: 100%;
    height: 60px;
    border: 0;
    padding: 20px 20px 20px 55px;
    border-radius: 30px;
}
.search-icon{
    position: absolute;
    top: 50%;
    left: 54px;
    transform: translateY(-50%);
}
.main-input:focus{
    outline: 0;
}
.term-of-week{
    color: var(--main-font);
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: 2px 10px 16px #00000029;
    border-radius: 30px;
}
.term-of-week h2{
    color: var(--card-bg);
}
.term-of-week .see-details{
    background-color: var(--card-bg);
}
.term-title{
    margin: 12px 0;
}

.term-detailed {
    color: var(--main-font);
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: 2px 10px 16px #00000029;
    border-radius: 30px;
}

.term-detailed h2 {
    color: var(--main-font);
    font-size: var(--medium);
    line-height: 19px;
}

#term {
    color: var(--card-bg);
}

#termDesc {
    padding-bottom: 25px;
}

.term-detailed p {
    font-size: var(--medium);
    line-height: 19px;
    color: var(--main-font);
    padding: 12px 0;
}

.term-detailed .content-differ {
    border: 2px var(--card-bg) solid;
    border-radius: 5px;
    color: transparent;
    margin-bottom: 10px;
}

.term-detailed .example-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 46px 44px 0px;
}

.term-detailed .example-flexbox p {
    font-size: var(--medium);
    line-height: 19px;
    color: var(--main-font);
    max-width: 578px;
}

.term-detailed .example-img {
    max-width: 200px;
    max-height: 200px;
}

.term-detailed .example-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.term-detailed .hashtag-wrapper span {
    font-size: var(--small);
    line-height: 17px;
    color: var(--main-font);
    padding-right: 20px;
}

.term-detailed .hashtag-wrapper span:last-child {
    padding-right: unset;
}

.terms-button-wrapper {
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.terms-button-wrapper a {
    margin-right: 10px;
    background-color: var(--main-font);
    color: var(--white);
    font-size: var(--medium);
    line-height: 19px;
    padding: 10px;
    border-radius: 20px;
}

.terms-button-wrapper a:last-child {
    margin-right: unset;
}

.hashtag-keywords{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: var(--micro);
    line-height: 17px;
    font-style: italic;
}
.button-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.button-wrapper button{
    width: 140px;
    height: 40px;
    border: 0;
}
.see-details{
    color: white;
    background-color: var(--card-buttons);
    padding: 11px 15px 10px 16px;
    height: 40px;
    width: 140px;
    border-radius: 20px;
    
}
.term-cards-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.term-card{
    flex: 1;
    color: var(--white);
    width: 346px;
    background-color: var(--card-bg);
    margin: 12.5px;
    padding: 14px 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 169px;
}

.flex-wrap-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.card-header{
    margin-bottom: 12px;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
}
.term-header-title{
    display: flex;
    flex-direction: column;
}
.term-icon{
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.term-icon img{
    display: block;
    width: 100%;
    height: 100%;
}
.card-body{
    width: 297px;
    height: 47px;
}
.week-term-description{
    max-height: 20px;
    width: 884px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.term-description{
    max-height: 47px;
    width: 297px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}
.about-project{
    padding: 20px;
    background-color: var(--about-card-bg);
    color: var(--white);
    border-radius: 30px;
}
.about-title{
    font-size: var(--large);
    margin-bottom: 22px;
}
.about-info{
    max-width: 986px;
    width: 100%;
}

.pagination {
    max-width: 100%;
    text-align: center;
    padding: 32px 0 2px 0;
    user-select: none;
}

.pagination span {
    cursor: pointer;
}

.pagination .page-el, .pagination .dots-wrap {
    font-size: 18px;
    line-height: 22px;
    padding: 2px 8px;
    color: var(--main-font);
    margin: 0 2px;
}

.pagination .page-active {
    background-color: var(--main-font);
    color: var(--white);
    border-radius: 50%;
}

#arrowLeft {
    pointer-events: none;
}

.footer {
    background-color: var(--secondary-color);
    /* color: var(--main-font); */
    height: 160px;
    margin-top: 40px;
    padding: 20px 140px;
}
.error {
    margin-bottom: unset;
}
.center-element{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.footer-info{
    margin-bottom: 20px;
    text-align: center;
}
.footer-info::before{
    content: '';
    display: block;
    width: 513px;
    height: 1px;
    background-color: var(--main-font);
    margin-bottom: 30px;
}

.container .about-block {
    color: var(--main-font);
    background-color: var(--secondary-color);
    padding: 20px;
}

.container .about-block h2 {
    padding-bottom: 1rem;
}

.container .about-block p {
    padding: 10px 0;
    font-size: var(--medium);
    max-width: 950px;
    line-height: 19px;
}

.container .search-block {
    color: var(--main-font);
    background-color: var(--secondary-color);
    padding: 20px;
}

.container .search-block .searchbar {
    height: 60px;
}

.container .search-block .searchbar form {
    height: 100%;
    position: relative;
}

.container .search-block .searchbar form svg {
    position: absolute;
    left: 20px;
    top: 20px;
    fill: var(--main-font);
}

.alphabet-wrapper {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}

.alphabet-wrapper span {
    font-size: var(--large);
    line-height: 24px;
    color: var(--main-font);
    padding: 0 5px;
    cursor: pointer;
}

.alphabet-wrapper .lchange {
    cursor: pointer;
    margin-left: 60px;
    background-color: var(--card-bg);
    color: var(--white);
    font-size: var(--medium);
    line-height: 19px;
    padding: 10px 5px;
    border-radius: 50%;
}

.alphabet-wrapper .al-active {
    color: var(--card-bg);
}

.container .search-block .searchbar form select {
    font-size: var(--medium);
    line-height: 19px;
    height: 25px;
    padding-left: 10px;
    outline: none;
    border-radius: 0%;
    border: 1px var(--main-font) solid;
    color: var(--main-font);
}

#filter {
    width: 250px;
    position: absolute;
    left: 73%;
    top: 50%;
    transform: translate(-73%, -50%);
}
select{
cursor: pointer;
}
#sort {
    width: 144px;
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(-95%, -50%);
}
#filter, #sort {
    border-radius: 13px;
    background-color: var(--main-bg-color);
    border: none;
    color: #4F4646;
}
.container .search-block input[type=text] {
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 29.5rem 0 3.2rem;
    font-size: var(--small);
    border-radius: 30px;
}

.meet-team-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 15.1%;
}

.team-member-card {
    position: relative;
    width: 272px;
    max-width: 100%;
    background: url(../media/png/default-user-image.png) center no-repeat;
    background-size: cover;
    margin: 20px 0;
    padding: 14px 20px 0px 20px;
}

.team-member-card .team-info {
    padding-top: 78.64%;
}

.team-member-card .team-info p {
    text-align: center;
    color: transparent;
    padding-bottom: 10px;
}

.team-member-card:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/png/default-user-image.png) center no-repeat;
    background-size: cover;
}

.team-member-card:hover .team-info p {
    color: var(--white);
}

.error-wrapper {
    max-width: 100%;
    width: 100%;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #DADBDA;
    padding: 120px 0 248px 0;
    box-shadow: inset 0px 3px 6px #00000029;
}

.error-wrapper h1 {
    font-size: 22px;
    color: var(--main-font);
    padding-bottom: 46px;
}

.error-wrapper button {
    width: 195px;
    height: 40px;
    background-color: var(--card-bg);
    color: var(--white);
    padding: 9px 21px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}
